<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Medication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard_app/css/style.css'%}">  
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/dash/cat_grid">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
      <hr class="my-4">

      

      <div class="page-header">
          <h1>Category #{{cat.id}}</h1>
      </div>
      
      <div class="row">
        <div class="col-md-5">
           
          <div class="form-group">
            <label for="input_name">Category Name</label>
            <input type="text" class="form-control" id="input_name"  name="name" value={{cat.name}} disabled>
          </div>
          
          <div class="form-group">
            <label for="input_desc">Description</label>
            <textarea class="form-control" rows="5" id="input_desc" name="description"  disabled>{{cat.description}}</textarea>
          </div>

        </div>
        <div class="col-lg-6" >

            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Medications:
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th><th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for my_med in my_meds %}
                                <tr>
                                <th scope="row">{{my_med.id}}</th><td><a href="/dash/med/{{my_med.id}}">{{my_med.name}}</a></td>
                                
                                </tr>
              
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
          
        </div>

      </div>

     
        
        

    </div>

    

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
      
      
  </body>
  
</html>