<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Medication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard_app/css/style.css'%}">  
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/dash/meds_grid">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
      <hr class="my-4">

      

      <div class="page-header">
          <h1>Medication #{{med.id}}</h1>
      </div>
      
      <div class="row">
        <div class="col-md-5">
           
          <div class="form-group">
            <label for="input_name">Medication Name</label>
            <input type="text" class="form-control" id="input_name"  name="name" value={{med.name}} disabled>
          </div>
          <div class="form-group">
            <label for="input_category">Category</label>
            <input type="text" class="form-control" id="input_category"  name="category" value={{med.category2.name}} disabled>
            
          </div>
          <div class="form-group">
            <label for="input_desc">Description</label>
            <textarea class="form-control" rows="5" id="input_desc" name="description"  disabled>{{med.description}}</textarea>
          </div>

        </div>
        <div class="col-lg-6" >

            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Prescribed To:
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th><th>Name</th><th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for my_pat in my_pats %}
                                <tr>
                                <th scope="row">{{my_pat.id}}</th><td><a href="/dash/patient/{{my_pat.id}}">{{my_pat.first_name}} {{my_pat.last_name}}</a></td><td><a href="/dash/patient/{{my_pat.id}}/unpresc_med2/{{med.id}}">un-prescribe</a></td>
                                </tr>
              
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
          
        </div>

      </div>
        

    </div>

      
  </body>
  
</html>